---
---
<footer class="contact-footer" id="reservation">
    <h2 style="font-size:3rem; color:var(--white); margin-bottom:10px;">Prêt à embarquer ?</h2>
    <p>Port du Teich - Au pied du Belvédère</p>
    <a href="#" class="cta-big">RÉSERVER MA BALADE</a>
    <br><br><br>
    <div style="display:flex; justify-content:center; gap:30px; font-size:1.5rem;">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-solid fa-envelope"></i>
    </div>
    <p style="margin-top:50px; font-size:0.8rem;">© 2024 E-co Plaisance BA. Tous droits réservés.</p>
</footer>